dist/
node_modules/
.env
*.sqlite
uploads/*
!uploads/.gitkeep
profilePic/*
!profilePic/.gitkeep
.vscode/
videos/*
!videos/.gitkeep
banners/*
!banners/.gitkeep
authImages/*
!authImages/.gitkeep
pictures/*
!pictures/.gitkeep